<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.makepe.curiosityhubls">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuriosityHub"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Privacy.BlockedActivity"></activity>
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2193593343976198~1171740936" />

        <activity
            android:name=".Privacy.PrivacyPolicyActivity"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGroupMembersActivity"
            android:parentActivityName=".GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupDetailsActivity"
            android:parentActivityName=".GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupChatActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewGroupChatActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeNumberActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostDetailsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentActivity"
            android:parentActivityName=".SubjectContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectContentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileContinuationActivity"
            android:parentActivityName=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileBuildActivity"
            android:parentActivityName=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:parentActivityName=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".Notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.makepe.curiosityhubls.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>